<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta chartset="UTF-8">
  <title>Lembretes</title>
</head>
<body>
<h2>Read</h2>
<ul class="quotes">
  <% for(var i=0;i<quotes.length; i++) {%>
    <li class="quote">
      <span><b><%= quotes[i].name %></b></span>
      <span><%= quotes[i].quote %></span>
    </li>
<% } %>
</ul>

<h2>Create</h2>
<form action="/quotes" method="POST">
  <input type="text" placeholder="Autor" name="name"><br>
  <input type="text" placeholder="Lembrete" name="quote">
  <button type="submit">Salvar!</button>
</form>

<h2>Update</h2>
<form>
  <input id="pesquisa" type="text" placeholder="Autor">
  <button id="update">Substituir!</button><br>
</form>

<h2>Delete</h2>
<form>
  <input id="pesDel" type="text" placeholder="Autor">
  <button id="delete">Deletar!</button><br>
</form>

<script src="main.js"></script>
</body>
</html>
